<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Anos Dourados</title>
  <link rel="stylesheet" href="/static/style.css">
  <link href="https://afeld.github.io/emoji-css/emoji.css" rel="stylesheet">
</head>

<body>
  <div class="tudo">
    {% include 'header.html' %}

    <div class="bloco">
      <h2>Projeto de conclusão de curso do módulo 02</h2>
    </div>
    <p class="bloco">Olá! Esse é o nosso projeto para a conclusão do módulo de banco de dados da BlueEdTech. <i
        class="em em-rocket" aria-role="presentation" aria-label="ROCKET"></i> </p>

    <p class="bloco">Nesse projeto utilizamos o framework Flask conectando com o banco de dados em SQL e realizando o
      CRUD.</p>

    <p class="bloco"> O Projeto foi realizado por:</p>

    <div class="bloco">
      <div class="bloco-imagem">
        <img class="imagem-pessoa" src="../static/img/IMG-20210707-WA0608(1).jpg">
        <p>Rafael Fragozo</p>
      </div>
      <div class="bloco-imagem">
        <img class="imagem-pessoa" src="../static/img/9B2501CD-6B10-4A46-8698-2A1C5D291040.jpg">
        <p>Dheyson Mendes</p>
      </div>
      <div class="bloco-imagem">
        <img class="imagem-pessoa" src="../static/img/unnamed.jpg">
        <p>Gabriel Sobreira</p>
      </div>
    </div>




  </div>

</body>

</html>